on:
  push:
    tags:
      - "*"
jobs:
  publish:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      packages: "write"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-java@v5"
        with:
          java-version: "25"
          distribution: "graalvm"
          cache: "maven"
      - run: "which java && java --version"
      - run: "mvn test"
      - run: "mvn clojure:test-with-junit clean"
      - run: "mvn -Dbr.dev.zz.inverno.tag={{github.sha}} deploy"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
